<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-medicopilot.ZPM">
    <Module>
      <Name>iris-medicopilot</Name>
      <Version>1.0.27</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>production-settings</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>telegram-adapter</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>iris-openai</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>iris-tripleSlash</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <Resource Name="dc.irisMediCopilot.PKG"/>
      <SystemRequirements Version=">=2024.1" Interoperability="enabled" />
      <Default Name="Token" Value='#{##class(%SYSTEM.Util).GetEnviron("TELEGRAM_TOKEN")}' />
      <Default Name="OpenAIKey" Value='#{##class(%SYSTEM.Util).GetEnviron("OPENAI_KEY")}' />
      <Invoke Class="dc.irisMediCopilot.util.Setup" Method="Init" >
          <Arg>${Token}</Arg>
          <Arg>${OpenAIKey}</Arg>
      </Invoke>
    </Module>
  </Document>
</Export>
